body {
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    color:white;
}

h1 {
    font-size: 14px;
}

#endGameEventNotification {
    color:white;
    z-index: 5;
    top: 290px;
    position: relative;
}

h2 {
    font-size: 14px;
    color: darkred;
}

#gameInfoGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#gameStateControl {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#gameStateControl button {
    width: 75px;
    height: 25px;
}

.infoDisplay {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.infoDisplay h1, h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#renderArea {
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#gameArea {
    background-color: white;
    z-index: 1;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    border-width: 5px;
    border-color: darkgrey;
    width: 80vh;
    height: 95vh;
}
